<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>@ViewData["Title"] - AnkarunningWebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/album.css" rel="stylesheet" />
        <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">
                            Ankarunning 2014 Mayıs ‘tan itibaren Ankara ‘da haftada 2 gün değişik lokasyonlarda
                            her Çarşamba 19:30 da ve her Pazar 08:00’da Odtü/Eymir/Bilkent’te rutin antrenmanlar yapan,
                            günlük hayatlarından sporu çıkartmayan, düzenli koşu ve fitness antrenmanlarını tam disiplinle
                            yapan ama bir yandan da eğlenmeyi unutmayan, içinde profesyonel ve amatör sporcuların olduğu bir ekiptir.
                            Koşuyu hayatının bir parçası haline getirmek isteyen insanların katılımıyla büyümüş
                            koşu grubu ve sıcak bir arkadaş ortamı haline gelmiştir..
                            <br />
                            #runningwild
                            #weletthemilesfly
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled lime5">
                            <li><i class="fab fa-instagram text-white"></i>&nbsp;<a href="https://www.instagram.com/ankarunning/" target="_blank" class="text-white">Follow on Instagram</a></li>
                            <li><i class="fab fa-facebook-square text-white"></i> &nbsp;<a href="https://www.facebook.com/ankarunningofficial/" target="_blank" class="text-white">Like on Facebook</a></li>
                            <li><i class="fas fa-at text-white"></i> &nbsp;<a href="mailto:info@ankarunning.com" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="./" class="navbar-brand d-flex align-items-center">
                    @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>*@
                    <i class="fas fa-home fa-fw" ></i>
                    <strong>Ankarunning ⓡⓤⓝⓝⓘⓝⓖ ⓦⓘⓛⓓ</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/holder.js/holder.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/Font-Awesome/svg-with-js/js/fontawesome-all.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                asp-fallback-src="~/lib/popper.js/dist/umd/popper.js"
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
                asp-fallback-src="~/lib/holder.js/holder.js"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  @*  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
   


    @RenderSection("Scripts", required: false)
</body>
</html>

