@{
    ViewData["Title"] = "Index";
}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Ankarunning Admin Panel</h1>
            <p class="lead text-muted">Choose any section from the list below to either provide new entries or update existing ones.</p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/IMG_8.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Club">
                        <div class="card-body">
                            <p class="card-text">Ankarunning Club Info</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="/Home/Club" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/IMG_2.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Trainings">
                        <div class="card-body">
                            <p class="card-text">Weekly/Daily Trainings</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/Home/Trainings" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="/Home/AddTraining" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/IMG_4.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Events">
                        <div class="card-body">
                            <p class="card-text">Future Events like Competitions,Trips etc.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="/Home/Events" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/IMG_10.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Photos">
                        <div class="card-body">
                            <p class="card-text">Ankarunning Photos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="/Home/Photos" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/IMG_1.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Profiles">
                        <div class="card-body">
                            <p class="card-text">Club Member Profiles</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="/Home/Profiles" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

<script>

</script>